<% include ../partials/header%>
        <h3 class = "text-muted text-center">Edit <%= campground.name %></h3>
        <div class = "row">
            <div class="form-size">
                <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" id ="form">
                    <div class = "form-group">
                        <input class ="form-control" type="text"  name="campground[name]" value="<%= campground.name %>"></input>
                    </div>
                    <div class = "form-group">
                        <input class ="form-control" type="number" name="campground[price]" value="<%= campground.price %>" min="0.01" step="0.01"></input>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>">
                    </div>
                    <div class = "form-group">
                        <input class ="form-control" id="image-search" type="text" name="campground[image]" value="<%= campground.image %>"></input>
                        <small class="small text-muted">Click <a href="https://youtu.be/Bn3weNRQRDE">here</a> for Unsplash tutorial.</small>
                    </div>
                    <div class="form-group">
                        <img class="form-control" src="<%= campground.image %>">
                        <p class="text-muted small text-center"></p>
                    </div>
                    <div class = "form-group">
                        <textarea class ="form-control" name="campground[description]" rows="10"><%= campground.description %></textarea>
                    </div>
                    <div class = "form-group">
                        <button class= "btn btn-primary btn-block">Submit</button>
                        <p class="text-muted small text-center"></p>
                    </div>
                </form>
                <a class="back" href="/campgrounds">Go Back</a>
            </div>
        </div>

<% include ../partials/footer%>
