<% include ../partials/header%>


        <header class = "jumbotron">
            <div class = "container text-center">
                <h1><i class="fa fa-globe" aria-hidden="true"></i> YelpCamp</h1>
                <p class="text-muted small">View our hand-picked campgrounds from all over.</p>
                <p>
                    <a class = "btn btn-primary btn-md" href ="/campgrounds/new">New Campground</a>
                </p>
                <hr>
                <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Search campgrounds" class="form-control">
                    </div>
                </form>
                <span class="text-center text-muted small" id="search-message"></span>
            </div>
        </header>

        <div class = "row text-center" id="campground-grid">
            <% campgrounds.forEach(function(camp){ %>
                <div class = "col-md-4 col-sm-6 campground-card">
                    <div class = "img-thumbnail">
                        <img class ="img-fluid" src="<%= camp.image %>">
                        <div class = "caption">
                            <h5><%= camp.name %></h5>
                        </div>
                        <p>
                            <a href = "/campgrounds/<%= camp._id%>" class = "btn btn-sm btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i> More Info</a>
                        </p>
                        <% if(currentUser && currentUser.isAdmin){ %>
                        <p>
                            <a class="btn btn-sm btn-warning" href="/campgrounds/<%= camp._id %>/edit">Edit</a>
                            <form class="delete-form" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </p>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>



<% include ../partials/footer%>
