<% include ../partials/header%>

        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <li class="list-group-item list-group-item-action active">Info One</li>
                    <li class="list-group-item list-group-item-action">Info Two</li>
                    <li class="list-group-item list-group-item-action">Info Three</li>
                </div>
                <div id="map"></div>
            </div>
            <div class="col-md-9">
                <div class="img-thumbnail">
                    <img class="img-fluid" src = "<%= campground.image %>"></img>
                    <div class="caption-full">
                        <h6 class="float-right">$<%= campground.price %>/night</h6>
                        <h4><%= campground.name %></h4>
                        <p><%= campground.description %></p>
                        <p class="small">
                            <% if(currentUser && campground.author.id.equals(currentUser.id)){ %>
                                <em>Submitted by: <strong>You , <%= moment(campground.created).fromNow() %></strong></em>
                            <% } else { %>
                                <em>Submitted by: <%= campground.author.username%> , <%= moment(campground.created).fromNow() %> </em>
                            <% } %>
                        </p>
                        <% if(currentUser && campground.author.id.equals(currentUser.id)){ %>
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>

                <div class="card bg-faded">
                    <div class="card-body">
                        <div class="text-right">
                            <a class = "btn btn-success" href="/campgrounds/<%= campground._id%>/comments/new">Comment</a>
                        </div>
                        <hr>
                        <% campground.comments.forEach(function(comment){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong><%= comment.author.username%></strong>
                                    <span class="float-right small"> <%= moment(comment.created).fromNow() %>
                                        <div>
                                            <% if(currentUser && comment.author.id.equals(currentUser.id)){ %>
                                            <a class="btn btn-sm btn-warning"
                                            href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">
                                                Edit
                                            </a>
                                            <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                                <button class="btn btn-sm btn-danger">Delete</button>
                                            </form>
                                            <% } %>
                                        </div>
                                    </span>
                                    <p class="comment"><%= comment.text %></p>

                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTQ2CV-xQc02e8AkxSNyYcSKOw9f7EEfQ&callback=initMap"></script>

<% include ../partials/footer%>
