<% include ../partials/header%>

        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="list-group">
                    <li id="average-rating" class="list-group-item list-group-item-action small">Average Rating: <%= campground.rating.toString().slice(0, 4) %> stars</li>
                    <% if(currentUser && campground.ratings.length > 0) { %>
                        <% var counter = 0 %>
                        <% for(var i = 0; i < campground.ratings.length; i++){ %>
                            <% if(campground.ratings[i].author.id.equals(currentUser.id)) { %>
                                <% counter++ %>
                                <% var rating = campground.ratings[i].rating %>
                            <% } %>
                       <% } %>
                       <% if(counter > 0) { %>
                            <li class="list-group-item list-group-item-action small">Your Rating: <%= rating %> stars</li>
                            <li class="list-group-item list-group-item-action small">Thank you for rating this campground!</li>
                       <% } else { %>
                            <li class="list-group-item list-group-item-action small hi" id="rating">
                                <fieldset class="starability-grow">
                                <span>Leave a rating:</span>
                                    <input type="radio" id="first-rate1" name="rating" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="rating" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="rating" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="rating" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="rating" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                                <span id="rating-message"></span>
                            </li>
                       <% } %>
                    <% } else if(currentUser && campground.ratings.length < 1) { %>
                        <li class="list-group-item list-group-item-action small bye" id="rating">
                            <fieldset class="starability-grow">
                            <span>Leave a rating:</span>
                                <input type="radio" id="first-rate1" name="rating" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="rating" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="rating" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="rating" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                            <span id="rating-message"></span>
                        </li>
                    <% } else if(!currentUser) { %>
                        <li class="list-group-item list-group-item-action small">Please login, or register, to rate this campground.</li>
                    <% } %>

                </div>
                <div id="map"></div>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="img-thumbnail">
                    <img class="img-fluid" src = "<%= campground.image %>"></img>
                    <div class="caption-full">
                        <h6 class="float-right">$<%= campground.price %>/night</h6>
                        <h4><%= campground.name %></h4>
                        <p><%= campground.description %></p>
                        <p class="small">
                            <% if(currentUser && campground.author.id.equals(currentUser.id)){ %>
                                <em>Submitted by: <strong>You , <%= moment(campground.created).fromNow() %></strong></em>
                            <% } else { %>
                                <em>Submitted by: <a href="/users/<%= campground.author.id%>"><%= campground.author.username%></a> , <%= moment(campground.created).fromNow() %> </em>
                            <% } %>
                        </p>
                        <% if(currentUser && campground.author.id.equals(currentUser.id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>

                <div class="card bg-faded">
                    <div class="card-body">
                        <div class="text-right">
                            <a class = "btn btn-success" href="/campgrounds/<%= campground._id%>/comments/new">Comment</a>
                        </div>
                        <hr>
                        <% campground.comments.forEach(function(comment){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-4 col-sm-3 col-md-4 col-lg-3 profile">
                                            <div class="img-thumbnail">
                                                <img src="<%= comment.author.avatar %>" alt="author avatar" class="img-fluid">
                                            </div>
                                            <strong><a href="/users/<%= comment.author.id %>"><%= comment.author.username%></a></strong>
                                            <div class="small text-muted"><em>Joined: <%= comment.author.createdAt.toDateString().slice(4) %></em></div>
                                                <div>
                                                    <% if(currentUser && comment.author.id.equals(currentUser.id) || currentUser && currentUser.isAdmin){ %>
                                                    <a class="btn btn-sm btn-warning"
                                                    href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">
                                                        Edit
                                                    </a>
                                                    <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                                        <button class="btn btn-sm btn-danger">Delete</button>
                                                    </form>
                                                    <% } %>
                                                </div>
                                        </div>
                                        <div class="col-8 col-sm-9 col-md-8 col-lg-9">
                                            <span class="small"> <%= moment(comment.created).fromNow() %></span>
                                            <p class="comment"><%= comment.text %></p>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTQ2CV-xQc02e8AkxSNyYcSKOw9f7EEfQ&callback=initMap"></script>

<% include ../partials/footer%>
